<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sportee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>


<div class="alert alert-warning">

    <strong>You might already have booked this class or the class is fully booked,</strong> so please check your
    schedule or <a href="/gymClassBookings/insertGymClassBooking"> choose </a> another class!
</div>
</body>
</html>