<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>

<p>

<table border="2" width="70%" cellpadding="2">
    <tr><th>Date&Hour</th><th>Class</th><th>Unit</th><th>Edit</th><th>Delete</th></tr>
    <tr th:each="m: ${gymClasses}">
        <td th:text="${m.id}"> </td>
        <td th:text="${m.date}"> </td>
        <td th:text="${m.gymClassType}"> </td>
        <td th:text="${m.room}">  </td>
        <td> <a th:href="@{/gymClasses/{id}/editGymClass(id=${m.id})}">

            Edit</a>

        </td>
        <td> <a th:href="@{/gymClasses/{id}/delete(id=${m.id})}">
            Delete</a>


        </td>


    </tr>
</table>

</p>

<p>




</p>



<p>
    <a href="/gymClasses/insertGymClass"> Add </a> new gym class
</p>
</body>
</html>
