<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--    <link rel="stylesheet" type="text/css" href="/css/users.css"/>-->
</head>

<body>
<!--<div class="logout" style="float:right">-->
<!--    <p th:text="#{}"> Hallo </p>-->
<!--    <span th:text="${#httpServletRequest.remoteUser}">User</span>-->
<!--    <form th:action="@{/logout}" method="post">-->
<!--        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
<!--        <input type="submit" value="Logout"/>-->
<!--    </form>-->
<!--</div>-->

<p>
<!--<li th:each="m: ${gymClasses}">-->
<!--    &lt;!&ndash;    <a th:href="@{/mvc/user/{id}/delete(id=${u.id})}">&ndash;&gt;-->
<!--    &lt;!&ndash;        <img class="deleteUser">&ndash;&gt;-->
<!--    &lt;!&ndash;    </a>&ndash;&gt;-->
<!--    <span th:text="${m.date}">Date </span>-->
<!--    <span th:text="${m.gymClassType}">gym class </span>-->
<!--    <span th:text="${m.room}">Room </span>-->


<!--</li>-->

<table border="2" width="70%" cellpadding="2">
    <tr><th>Date&Hour</th><th>Class</th><th>Unit</th><th>Edit</th><th>Delete</th></tr>
    <tr th:each="m: ${gymClasses}">
        <td th:text="${m.id}"> </td>
        <td th:text="${m.date}"> </td>
        <td th:text="${m.gymClassType}"> </td>
        <td th:text="${m.room}">  </td>
        <td> <a th:href="@{/gymClasses/{id}/editGymClass(id=${m.id})}">


            Edit</a>

        </td>
        <td> <a th:href="@{/gymClasses/{id}/delete(id=${m.id})}">
            Delete</a>


        </td>


    </tr>
</table>

</p>

<p>




</p>



<p>
    <a href="/gymClasses/insertGymClass"> Add </a> new gym class
</p>
</body>
</html>
