<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<p>
    Insert
</p>
<form th:action="@{/measurements/insertMeasurement}" method="POST">
    <!--    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
    <p>Member:
        <select class="form-control" required="required" name="user" >
        <option disabled="disabled" selected="selected" > --
            alege membrul --</option>
        <option th:each="user : ${users}" th:value="${user.id}"
                th:text="${user.firstName}+' '+${user.lastName}" ></option>

        </select>

    </p>
    <p>Date: <input type="date" name="date"/></p>

    <p>Measurement Type:
        <select class="form-control" required="required" name="measurementType" >
            <option disabled="disabled" selected="selected" > --
                alege tip masuratoare --</option>
            <option th:each="measurementType : ${measurementTypes}" th:value="${measurementType.id}"
                    th:text="${measurementType.name}" ></option>

        </select>

    </p>

    <p>Value: <input type="number" name="value"/></p>



    <p><input type="submit" name="Submit"/></p>
</form>
</body>
</html>
